<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login | Admin Panel</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 padding">
          <h1 id="header">Task Organiser</h1>
        </div>
      </div>
      <br>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">Login</div>
      <div class="panel-body">
          <form  method="post" action="/portal/login">
              <div class="form-group">
                <label for="username">Admin Name</label>
                <input type="text" class="form-control" name="username" id="username" placeholder="Email">
              </div>

              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="title" placeholder="title">
              </div>

              <input class="btn btn-default" type="submit" value="Login">
          </form>
      </div>
    </div>
  </div>
</div>
<%include ./layout/footer %>
