<%include ./layout/header %>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">Privacy Policy</div>
      <div class="panel-body">
        <b>
          We do not share personal information with third-parties nor do we store information we collect about your visit to this blog for use other than to analyze content performance through the use of cookies, which you can turn off at anytime by modifying your Internet browser's settings.
          We are not responsible for the republishing of the content found on this blog on other Web sites or media without our permission. This privacy policy is subject to change without notice.
        </b>
      </div>
    </div>
  </div>
</div>


<%include ./layout/footer %>
