<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 padding">
          <h1 id="header">Task Organiser</h1>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-primary">
            <div class="panel-heading">Reset Password</div>
            <div class="panel-body">
              <form  method="post" action="/portal/reset_password/">
                  <div class="form-group">
                    <label for="password">New Password:</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="New Password">
                  </div>

                  <div class="form-group">
                    <label for="c_password">Confirm Password:</label>
                    <input type="password" class="form-control" name="c_password" id="c_password" placeholder="Confirm Password">
                  </div>
                  
                  <input type="hidden" name="email" value="<%=email%>">
                  <input class="btn btn-default" type="submit" value="Reset">
              </form>
            </div>
          </div>
        </div>
      </div>

<%include ./layout/footer %>
