#header{
  background-color: #087cc9;
  color:#FFF;
  text-align: center;
  height: 50px;
  line-height: 40px;
}

#header,#footer,.padding{
  margin: 0px;
  padding: 0px;
}
#footer{
  background-color: #000;
  color:#FFF;
  text-align: center;
  height: 30px;
  line-height: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
