<%include ../layout/header %>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">Send Notification</div>
      <div class="panel-body">
          <form  method="post">
              <div class="form-group">
                <label for="email">Email address</label>
                <input type="text" class="form-control" name="email" id="email" placeholder="Email">
              </div>

              <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" name="title" id="title" placeholder="title">
              </div>

              <div class="form-group">
                <label for="msg">Message</label>
                <textarea rows="5" class="form-control" name="msg" id="msg" placeholder="Message"></textarea>
              </div>
              <input class="btn btn-default" type="submit" value="Send Notification">
          </form>
      </div>
    </div>
  </div>
</div>
<%include ../layout/footer %>
