<%include ../layout/header %>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">Add Advert</div>
      <div class="panel-body">
          <form  method="post" enctype="multipart/form-data">
              <div class="form-group">
                <label for="advert">Advert Image:</label>
                <input type="file" class="form-control" name="advert" id="advert" placeholder="Advert">
              </div>

              <div class="form-group">
                <label for="advert_link">Advert Link:</label>
                <input type="text" class="form-control" name="advert_link" id="advert_link" placeholder="Advert Link">
              </div>

              <input class="btn btn-default" type="submit" value="Add Advert">
          </form>
      </div>
    </div>
  </div>
</div>
<%include ../layout/footer %>
