<%include ../layout/header %>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">List Adverts</div>
      <div class="panel-body">
        <table class="table table-bordered">
          <%adverts.forEach((advert)=>{%>
            <tr>
              <td width="60%"><img height="90" class="img-responsive" src="data:image/png;base64,<%=advert.data%>" alt=""></td>
              <td width="30%"><%=advert.advert_link%></td>
              <td><a class="btn btn-danger" href="/portal/advert/delete/<%=advert._id%>">delete</a></td>
            </tr>
          <%})%>
        </table>
      </div>
    </div>
  </div>
</div>
<%include ../layout/footer %>
