<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>

  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 padding">
          <h1 id="header">Task Organiser</h1>
          <ul class="nav nav-tabs">
            <li role="presentation" class="<%if(active=='notification'){%>active<%}%>"><a href="/portal/send">Notification</a></li>

            <li role="presentation" class="dropdown <%if(active=='advert'){%>active<%}%>">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Advert <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/portal/advert">List</a></li>
                <li><a href="/portal/advert/add">Add</a></li>
              </ul>
            </li>

            <li role="presentation" class="<%if(active=='export'){%>active<%}%>"><a href="/portal/export">Export Users</a></li>
            <li role="presentation" class="<%if(active=='privacy'){%>active<%}%>"><a href="/portal/privacy">Privacy Policy</a></li>

          </ul>
        </div>
      </div>
      <br>
